.page-title {
    font-size: 36px;
    font-weight: 600;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.items-center {
    align-items: center;
}

.block {
    display: block;
}

.block-center {
    margin: 0 auto;
}

.no-decoration {
    text-decoration: none;
}

.error-message {
    color: tomato;
}