.deal-index {
    min-width: 180px;
    padding-top: 2px;
    background-color: #868686;
    height: calc(100vh - 56px);
    width: 25vw;
    max-width: 320px;
}

.deal-index > p {
    color: white;
    font-size: 20px;
}

.other-items {
    margin-top: 40px;
    gap: 32px;
}

.other-items__link {
    background-color: #eeefeb;
    color: black;
    padding: 8px 0;
    border-radius: 4px;
    width: 80%;
}

.deal-detail {
    position: relative;
    flex-grow: 1;
    height: calc(100vh - 56px);
    justify-content: space-between;
}

.detail-container {
    height: 100%;
    justify-content: space-between;
}

.deal-detail__heading {
    justify-content: space-between;
    align-items: center;
    padding: 6px 2vw;
    height: 10vh;
    border-bottom: solid 1px #868686;
}

.heading-left {
    align-items: center;
    height: 100%;
    gap: 2vw;
}

.user-avater__frame {
    height: 100%;
    border-radius: 50%;
    border: solid 1px #868686;
}

.user-avater__frame--small {
    max-width: 56px;
    border-radius: 50%;
    border: solid 1px #868686;
}

.user-avater__frame > img,
.user-avater__frame--small > img {
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.item-row {
    height: 24vh;
    gap: 2vw;
    padding: 20px 2vw;
    border-bottom: solid 1px #868686;
}

.item-image__frame {
    align-items: center;
    max-width: 180px;
}

.item-image__frame > img {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
}

.item-description {
    justify-content: space-evenly;
}

.item-name {
    font-size: 40px;
}

.item-price {
    font-size: 32px;
}

.item-name,
.item-price {
    word-break: break-all;
}

.message-container {
    padding: 12px 2vw;
    flex-grow: 1;
    overflow-y: scroll;
    gap: 8px;
}

.message-right {
    text-align: right;
    margin-bottom: 8px;
    align-self: flex-end;
    width: fit-content;
    max-width: 75%;
}

.message-left {
    text-align: left;
    margin-bottom: 8px;
    align-self: flex-start;
    width: fit-content;
    max-width: 75%;
}

.user-appearance {
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.message-right > .user-appearance {
    flex-direction: row-reverse;
}

.added-image {
    max-width: 320px;
}

.added-image > img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.message-box {
    word-break: break-word;
    display: inline-block;
    background-color: #d9d9d9;
    padding: 8px 12px;
    border-radius: 8px;
}

.message-operation {
    justify-content: flex-end;
    gap: 8px;
    margin-top: 4px;
}

.message-operation p {
    font-size: 14px;
    cursor: pointer;
    text-shadow: 1px 1px 3px #585858;
}

.deal-message {
    width: 100%;
    padding: 8px 2vw;
}

.message-form {
    gap: 1vw;
}

.message-form > input {
    flex: 1;
    padding: 0 1vw;
}

.image-preview {
    width: 100px;
    position: fixed;
    bottom: 60px;
    right: 80px;
    background-color: #ffffff;
}

.image-preview > img {
    object-fit: cover;
}

.message-change__edit,
.message-change__delete {
    position: fixed;
    inset: 0;
    background-color: #242424bb;
}

.hide-element {
    display: none;
}

.message-change__panel {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 560px;
    padding: 24px;
    border-radius: 2px;
    background-color: #ffffff;
}

.message-update__form > textarea {
    width: 100%;
    resize: none;
    padding: 12px;
}

.message-delete__form > p {
    border: solid 1px #868686;
    padding: 12px;
    word-break: break-all;
}

.btn__deal-done {
    height: 40px;
    padding: 0 16px;
    color: white;
    background-color: #ff8e88;
    border: none;
    border-radius: 20px;
}

.btn__image-select {
    height: 40px;
    line-height: 32px;
    padding: 0 16px;
    color: #e96057;
    border: 2px solid #e96057;
    border-radius: 8px;
}

.btn__send-message {
    background-color: transparent;
    border: none;
}

.btns__change-message {
    justify-content: flex-end;
    gap: 16px;
    margin-top: 8px;
}

.btn__submit-update,
.btn__submit-delete {
    height: 40px;
    padding: 0 16px;
    color: white;
    background-color: #ff8e88;
    border: none;
    border-radius: 20px;
}

.btn__cancel-update,
.btn__cancel-delete {
    height: 40px;
    padding: 0 16px;
    color: #ff8e88;
    background-color: white;
    border: solid 1px #ff8e88;
    border-radius: 20px;
}
