.index__heading {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px black;
}

.heading-menu {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 48px;

    > a {
        margin-right: 40px;
        text-decoration: none;
    }

    > form {
        display: inline;
        > button {
            background: none;
            border: none;
            height: 24px;
        }
    }
}

.tab__recommend,
.tab__mylist{
    color: black;
}

.alert-success {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    position: fixed;
    color: white;
    background-color: #e96057;
    top: 0;
    left: 0;
    z-index: 1100;
}
