.mypage__heading,
.mypage__body {
    width: calc(100% - 40px);
    max-width: 1440px;

    @media (max-width: 400px) {
        width: calc(100% - 10px);
    }
}

.mypage__heading {
    padding-top: 48px;

    @media (max-width: 768px) {
        padding-top: 6vw;
    }
}

.heading__user-info {
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2vw;
        margin-bottom: 8vw;
    }
}

.user-icon,
.user-name,
.edit-profile {
    flex: 1;
}

.image-frame {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;

    > img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    @media (max-width: 600px) {
        width: 32vw;
        height: 32vw;
    }
}

.user-name {
    font-size: 32px;
    font-weight: bold;
}

.star-rating {
    display: inline-block;
    font-size: 1.5em; /* 星のサイズ調整 */
}

.star {
    color: #ccc; /* グレーの星 */
    display: inline-block;
    margin-right: 0.2em; /* 星間のスペース */
}

.star.active {
    color: gold; /* 黄色の星 */
}

.edit-profile > a {
    font-weight: bold;
    padding: 8px 24px;
    border: solid 1px #e96057;
    border-radius: 4px;
    color: #e96057;
}

.heading__page {
    padding-left: 136px;
    margin-bottom: 24px;
    gap: 48px;

    @media (max-width: 768px) {
        justify-content: center;
        padding-left: 0;
        gap: 24px;
    }

    > form > button {
        background: none;
        border: none;
    }
}

.page__sell,
.page__buy,
.page__deal {
    color: black;
}

.item-unit {
    position: relative;
}

.message-badge {
    padding: 0 8px 2px;
    color: white;
    background-color: #e7300e;
    border-radius: 8px;
}

.message-badge--round {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 0 8px 2px;
    color: white;
    background-color: #e7300e;
    border-radius: 50%;
}

.jump-to-deal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9615770;
    color: white;
}
